/* Sidebar Container */
.containers {
  position: sticky;
  top: 0;
  background-color: #1b9392;
  width: 250px;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
  transition: width 0.3s ease-in-out;
}

/* Adjust width for large screens */
@media (min-width: 1650px) {
  .containers {
    width: 300px;
    padding: 30px;
  }
}

/* User Info */
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

/* User Image */
.userImage {
  width: 80px;
  height: 75px;
}

/* Sidebar List */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

/* Sidebar Items */
.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border-radius: 5px;
  font-size: 16px;
}

.menuItem:hover {
  background-color: rgb(255, 114, 17);
}

.menuItem.active {
  background-color: rgba(255, 114, 17, 0.8);
  border-left: 5px solid white;
  font-weight: bold;
}

/* Increase menu item size for large screens */
@media (min-width: 1650px) {
  .menuItem {
    padding: 16px 15px;
    font-size: 18px;
  }
}

/* Submenu */
.submenu {
  padding-left: 20px;
  margin-top: 5px;
}

.submenu li {
  padding: 12px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.submenu li:hover {
  background-color: rgb(255, 114, 17);
  border-radius: 5px;
}

/* Sidebar Icons */
.whiteIcon {
  color: white;
  font-size: 18px;
}

.whiteText {
  color: white !important;
}

/* Enlarge icons for larger screens */
@media (min-width: 1650px) {
  .whiteIcon {
    font-size: 40px;
  }
}

/* Logout Button */
.logout {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px;
  cursor: pointer;
  border-radius: 8px;
  background: white;
  border: none;
  width: 100%;
  text-align: left;
}

.logout:hover {
  background-color: #ff7211;
}

/* Settings */
.settings {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px;
  cursor: pointer;
}

.settings:hover {
  background-color: rgb(255, 114, 17);
  border-radius: 5px;
}

/* Footer */
.footer {
  font-size: 12px;
  text-align: center;
  padding: 12px;
  margin-left: -50px;
}

/* Push Logout and Settings Down for Large Screens */
.down {
  margin-top: 150px;
}

@media (min-width: 1650px) {
  .down {
    margin-top: 350px;
  }
  .footer {
    /*margin-left: -0px;*/
    font-size: 16px;
  }
  .settings {
    margin-left: -5px;
  }
  .whiteText{
    font-size: 20px;
  }
}
