.containers {
  position: sticky;
  top: 0;
  background-color: #1b9392;
  width: 250px;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

/*title{*/
/*  text-color:white;*/
/*}*/
/* User Info */
.user {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  width: 100%;
  margin-bottom: 20px;
}

.userImage {
  width: 70px;
  height: 65px;
}

/*.userDetail {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

/*.username {*/
/*  font-weight: 600;*/
/*  color: white;*/
/*}*/

/*.userTitle {*/
/*  font-size: 12px;*/
/*  color: white;*/
/*}*/

/* Sidebar List */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

/* Sidebar Items */
.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border-radius: 5px;
}

.menuItem:hover {
  background-color: rgb(255, 114, 17);
}
.menuItem.active {
  background-color: rgba(255, 114, 17, 0.8); /* Highlighted color */
  border-left: 5px solid white; /* Rectangle effect on the left */
  font-weight: bold; /* Make text bold */
}

.menuItemContent {
  display: flex;
  align-items: center;
  gap: 12px;
}

.toggleIcon {
  font-size: 18px;
  color: white; /* Ensures the arrow is white */
  transition: transform 0.3s ease-in-out;
}

/* Active Menu Item Styling */
.active {
  background-color: rgba(255, 114, 17, 0.8); /* Highlighted background */
  border-radius: 5px;
}

.menuItem.active {
  background-color: rgba(255, 114, 17, 0.8);
}

/* Active Submenu */
.submenu .active {
  background-color: rgba(255, 114, 17, 0.6);
}


/* Submenu */
.submenu {
  padding-left: 20px;
  margin-top: 5px;
}

.submenu li {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.submenu li:hover {
  background-color: rgb(255, 114, 17);
  border-radius: 5px;
}

/* White Icons & Text */
.whiteIcon {
  color: white;
}

.whiteText {
  color: white !important;
}

/* Logout */
.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  background: white;
  border: none;
  width: 100%;
  text-align: left;

}

.logout:hover {
  background-color: #ff7211;

}
/*.logout {*/
/*  background-color: #ff7211;*/
/*  border-radius: 6px;*/
/*}*/

/* Settings */
.settings {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  cursor: pointer;

}

.settings:hover {
  background-color: rgb(255, 114, 17);
  border-radius: 5px;
}

/* Footer */
.footer {
  /*margin-top: 100px;*/
  font-size: 12px;
  text-align: center;
  padding: 12px;
  margin-left: -50px;

}
.down{
  margin-top: 150px;
}
