

.container {
  padding: 20px;
}

.header {
  background-color: #1c1c3c ;
  padding: 15px;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  margin: 0;
  font-size: 24px;
}
.header h2 {
  margin: 0;
  font-size: 14px;
}


.profileSection {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.profileCard, .detailsCard {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.profileCard {
  width: 40%;
  text-align: center;
    background-color: #c6e7e7;
}
.detailsCard {
  background: #c6e7e7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
}

.detailsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.updateButton {
  background: #4503fa;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.updateButton:hover {
   background: #4e0efd;
}
.profileImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.buttons{
  background: #4503fa;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 90px;
  height: 50px;
}

.title{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.studentTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  overflow: hidden;
}

.studentTable thead {
  background-color: #1b9392;
  color: #333;
  text-align: left;
}

.studentTable th,
.studentTable td {
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
}

.studentTable th {
  font-weight: 600;
}

.studentTable tbody tr:hover {
  background-color: #f0f0f0;
  transition: 0.3s ease;
}

.studentTable td {
  color: #000000;
}

.courseCard {
  background: #c6e7e7;;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 24px;
}

.cardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.statusDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.active {
  background-color: #28a745; /* green */
}

.inactive {
  background-color: #dc3545; /* red */
}


.cardTitle {
  font-size: 1.25rem;
  margin: 0;
}

.cardBody p {
  margin: 4px 0;
}
