.container {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  height: 70%;
  /*background: rgba(0, 0, 0, 0.3); !* Background blur effect *!*/
}

.form {
  background-color: #0f8b8d;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.divInput {
  width: 48%; /* Makes inputs appear side by side */
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  /*gap: 5px;*/
}

.label {
  color: #000000;
  font-weight: bold;
  margin-bottom: 5px;
}

.divInput input, .divInput select {
  /*width: 100%;*/
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.addCohortButton, .submitButton {
  width: 48%;  /* Ensures buttons align side by side */
  padding: 5px;
  background-color: #ff7211;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 5px;
  text-align: center;
  display: inline-block;
}

.addCohortButton:hover, .submitButton:hover {
  background-color: #c6e7e7;
}

/* To center buttons in a row */
.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.successMessage {
  color: white;
  background: green;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: darkred;
}

.table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  border: 1px solid white;
  color: white;
}

.table th {
  background: darkcyan;
}
/*//new page*/
