


.container{
    /*display: flex;*/
    /*flex-direction: column;*/
    padding: 20px;
    /*background: #1b9392;*/
    border-radius: 8px;
}
.top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    width: 100%;
}


.addButton {
    background: #ff7211;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 20px;
}

.addButton:hover {
    background: #c6e7e7;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    /*border-radius: 8px;*/
    overflow: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.table thead {
    background: #1b9392;
    color: white;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
    background: #d8d8d8;
}

.buttons {
    display: flex;
    gap: 8px;
}

.button {
display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 12px;
  font-size: 0.85rem;
  border-radius: 4px;
  border: 1px solid transparent;
  background: transparent;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}
.button:hover {
  background: rgba(0,0,0,0.05);
}

.button.view {
    border-color: #2bb3d2;
  color: #2bb3d2;
}

.button.view:hover {
   background: #2bb3d2;
  color: #fff;
}

.button.delete {
     color: #dc3545;
  border-color: #dc3545;
}

.button.delete:hover {
     background: #dc3545;
  color: #fff;
}

.noStudents {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #c6e7e7;
    margin-top: 20px;
}