/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /*--bg: #121212;*/
  /*--bgSoft: #1b9392;*/
  --text: #000000;
  --textSoft: #1b9392;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
