.container {
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: white; /* Ensure navbar has a background */
}
.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.welcome {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  display: flex;
}
.title {
  color: var(--textSoft);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.menu1 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.search {
  display: flex;
  align-items: center;
  gap: 2px;
  background-color: #c6e7e7;
  padding: 1px 30px;
  border-radius: 25px;
  justify-content: start;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text);
  outline: none;
  padding: 5px;
  width: 150px; /* Adjust width for better alignment */
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: end;
  margin-left: auto;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.username {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.userTitle {
  font-size: 12px;
  color: #555555;
}

.notificationIcon {
  cursor: pointer;
  color: #555;
}
.userMenu {
  position: relative;
  display: flex;
  align-items: center;
}
.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  width:200px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.dropdownMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdownMenu li {
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.dropdownMenu li:hover {
  background: #f0f0f0;
}
