/* Default menu item */
.container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: background 0.3s ease;
}

/* Highlight active menu item */
.active {
  background-color: #ff7211;
  border-radius: 6px;
}

/* Add a rectangle around the active icon */
.activeIcon {
  /*background-color: rgb(18, 18, 18);*/
  padding: 8px;
  border-radius: 4px;
}
