.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(5px); /* This applies the blur effect */
  -webkit-backdrop-filter: blur(5px); /* Safari support */
}

.modal {
  background-color: #c6e7e7;
  padding: 30px;
  border-radius: 8px;
  width: 30%; /* Adjust width as needed */
  /*max-width: 900px;*/
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin-left: 60px;
  position: relative;
}

.h2 {
  text-align: center;
  margin-bottom: 40px;
  align-items: center;
  margin-left: 50px;
}

.formGrid {
  display: flex;
  flex-direction: column; /* Change from row to column */
  gap: 20px; /* Adds space between form elements */
  margin-bottom: 20px;
}

.select {
  width: 60%; /* Full width */
  padding: 15px;
  margin: 10px ;
  border-radius: 10px;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.addButton {
  background-color: #ff7211;
  color: white;
  /*border: none;*/
  padding: 16px 18px;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 8px;
margin-left: 150px;
  /*width: 100%;*/
}

.addButton:hover {
  background-color: #1b9392;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed; /* Ensures the table takes full width */
}

.table th,
.table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
}

.deleteButton {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #c9302c;
}

/*.buttonContainer {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  !*margin-top: 20px;*!*/
/*}*/

.saveButton
 {
  background-color: #1b9392;
  color: white;
  border: none;
  padding: 14px 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 147px;
  margin-top: 5px;
  /*width: 48%;*/
}

.saveButton:hover
{
  background-color: #ff7211;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent;
  color: #ff7211;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
