.container {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 12px;
    border-radius: 5px;

  }
.selects{
    background-color: #c6e7e7;
    padding: 10px 12px;
    height: 45px;
    align-items: center;
    border-radius: 8px;
}
  .search{
      background-color: #c6e7e7;
      padding: 10px 12px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
  }
  .input {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
  }
  
  .select {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
    padding: 5px;
    margin:2px;
  }
  
  .select option {
    background-color: #c6e7e7;
  }