.container {
  display: flex;
  align-items: center;
  gap: 2px;
  background-color: #c6e7e7;
  padding: 10px ;
  border-radius: 25px;
  justify-content: space-between;
  height: 40px;
  margin-top: 20px;
}

.input {
  background-color:transparent ;
  border: none;
  color: var(--text);
  outline: none;
  font-size: 12px;
}
