.container {
  display: flex;
  align-items: center;
  gap: 8px;
   padding: 10px ;
  border-radius: 25px;
  justify-content: space-between;
  height: 40px;
  margin-top: 20px;
  border: 1px solid #1B9392;
}

.input {
  background-color:transparent ;
  border: none;
  color: #1B9392;
  outline: none;
  font-size: 12px;
}
