.container {
  display: flex;
  align-items: center;
  gap: 8px;
   padding: 10px ;
  border-radius: 25px;
  justify-content: space-between;
  height: 40px;
  /* margin-top: 20px; */
   background-color: #C6E7E7;
   padding-bottom: 12px;
}

.input {
  background-color:transparent ;
  border: none;
  color: #000000;
  outline: none;
  font-size: 12px;
}
