.phases 
.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-left: 20px;
}
.phases 
.top1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;

}

.successMessage {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    animation: fadeIn 0.5s, fadeOut 0.5s 0.5s;
    width: 100%;
    max-width: 400px;
  }


  .addBtn{
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ff7211;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
    margin-right: 49px;
}

.addBtn:hover {
    background-color: #d85e0b;
}
 


.milestoneContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    padding-top: 12px;
    padding-left: 22px;
}

.milestone {
    background-color: #C6E7E7;
    border-radius: 0.5rem; /* rounded-lg */
    padding: 1rem;         /* p-4 */
    width: 320px;
    height: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s; 
    position: relative;
    /* margin-right: 12x; */
}

.h3{
    text-transform: capitalize;
    font-size: 1.25rem;       /* text-xl */
    font-weight: 600;         /* font-semibold */
    color: #1B9392;
     border-bottom: 2px solid black; /* Custom underline */
    padding-bottom: 1px;      
}

.iconButton {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: black;
    padding: 0.25rem;
    transition: transform 0.2s ease;
}

.icon {
    margin-right: 10px;
    font-size: 18px;
}


.drop {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-top: 2px;
    width: 80px;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }


  .top h2{
    color: #1B9392;
    font-size: 22px;
}

.detail{
    display: flex;
    flex-direction: column;  
    gap: 0.25rem;            
    margin-top: 0.5rem;      
    color: #1B9392; 
}
