.container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  color: white;
   background: linear-gradient(to left, #c2f3f3, #4fa9a9); 
}

.logo {
  font-weight: bold;
}

.text {
  font-size: 12px;
}
